body {
  background-color: #f5f5f5;
}

.mdl-cell {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

.mdl-layout__header-row, .mdl-layout__header .mdl-layout__drawer-button {
  background-color: #bf1319;
}

.vehicle-cell {
  height: 150px;
}

.vehicle-cell i {
  font-size: 84px;
}

.track-status-open {
  background-color: #dff0d9;
}

.track-status-closed {
  background-color: #f2dede;
}

.open-hours {
  background-color: #d9edf7;
}

.track-info {
  font-weight: bold;
  background-color: #fcf8e4;
}