body {
  background-color: #f5f5f5;
}

.mdl-cell {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

.mdl-layout__header-row, .mdl-layout__header .mdl-layout__drawer-button {
  background-color: #bf1319;
}

.vehicle-cell {
  height: 100px;
}

.vehicle-cell i {
  font-size: 54px;
}

.track-status-open {
  background-color: #dff0d9;
}

.track-status-closed {
  background-color: #f2dede;
}

.open-hours {
  margin: 0;
  width: 100%;
  background-color: #d9edf7;
}

.open-hours-title {
  font-weight: bold;
  margin: 0;
  width: 100%;
  background-color: #d9edf7;
  padding-bottom: 0;
}

.track-info {
  background-color: #fcf8e4;
}

.mdl-layout__header-row {
  background-image: url('images/ring-info-icon.png');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 50px;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
}

.nords-open, .gp-open {
  padding: 0;
}